  /*@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700,900);*/

  * {
    -webkit-tap-highlight-color:transparent;
    font-size: 16px;
    line-height: 24px;
  }
  
  body {
    background-color: #444349;
  }

  .container {
    margin-top: 100px;
  }

  .filippos-img{
    margin: 0 auto;
  }

  .main-image {
    width: 210px;
    height: 210px;
    border-radius: 50px;
    background-color: #57e2ca;
    margin: auto auto;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
  }

  .filippos-text {
    text-align: center;
    font-family: "Effra", 'Helvetica Neue', "Helvetica", "sans-serif";
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0px;
    color: #cbced2;
  }

  .filippos-subtext {
    text-align: center;
    font-family: "Muli" !important;
    font-size: 17px;
    max-width: 370px;
    line-height: 26px;
    margin: auto auto;
    margin-bottom: 55px;
    display: none;
    padding: 0px 30px;
    color: #cbced2;
    letter-spacing: 0.2rem;
  }

  .social {
    text-align: center;
    font-family: "Muli" !important;
    font-size: 17px;
    max-width: 370px;
    line-height: 26px;
    margin: auto auto;
    margin-bottom: 55px;
    padding: 0px 30px;
    color: #cbced2;
    letter-spacing: 0.2rem;
  }

  @media screen and (max-width:480px) {
    .filippos-text {
      font-size: 39px;
    }
    .filippos-subtext {
      font-size: 18px;
      line-height: 1.5em;
    }
    .social {
      font-size: 18px;
      line-height: 1.5em;
    }

    .links {
      position: relative;
      display: block;
      line-height: 16px;
      margin-top: 60px;
    }
    .links li {
      display: block;
      text-align: center;
      margin: 0px;
      margin-bottom: 35px;
      font-size: 16px;
    }
  }

  /* Footer */

  a:link {
    color: #cbced2;
    text-decoration: none;
  }
  a:visited {
    color: #cbced2;
  }
  a:hover {
    color: #f5f6f7;
  }
  a:active {
    color: #cbced2;
  }

  a.nav-link {
    color: inherit;
    text-decoration: none;
  }
  a.nav-link:hover {
    color: #6b717a;
    text-decoration: none;
  }

  .img-link {
    width: 100%;
    height: 100%;
  }

  .links {
    text-align: center;
    font-family: "Muli" !important;
    padding: 0px;
  }

  .links li {
    display: inline-block;
    list-style-type: none;
    margin-right: 30px;
    color: #53585F;
  }

  .links li a {
    font-size: 18px;
    font-family: "Muli" !important;
  }

  .links li:last-child {
    margin-right: 0px;
  }

  @media screen and (max-width:480px) {

    .page {
      margin-bottom: 0px;
    }
    .container {
      margin-top: 30px;
      margin-top: 15px;
    }
    .links {
      margin-top: 50px;
      position: relative;
      display: block;
      line-height: 16px;
    }
    .links li {
      display: block;
      text-align: center;
      font-size: 16px;
      line-height: 50px;
      padding: 0px;
      margin: 0px;
    }
  }
  