body, button {
    font-family:sans-serif;
    font-size: 100%;
    line-height: 1.5;
    font-weight: 400;
    color: #222222;
    -webkit-text-size-adjust: 100%;
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
    font-weight: 700;
    margin-bottom: 1rem;
}
h1, .h1 {
    font-family: "Argent CF", "Georgia", serif;
    font-size: 2rem;
}
.img-handler{
	border-radius: 50%;
	width:80px;
	height:80px;
	margin-bottom: 10px;
}

@media screen and (min-width: 481px)  {
    h1, .h1 {
    font-size: 4rem;
}
}
@media screen and (min-width: 1281px)  {
    h1, .h1 {
    font-size: 6rem;
}
}
@media screen and (min-width: 1441px)  {
    h1, .h1 {
    font-size: 8rem;
}
}
h2, .h2 {
    font-family: "Argent CF", "Georgia", serif;
    font-size: 1.5rem;
}
@media screen and (min-width: 481px)  {
    h2, .h2 {
    font-size: 1.75rem;
}
}
@media screen and (min-width: 1281px)  {
    h2, .h2 {
    font-size: 3rem;
}
}
h3, .h3 {
    font-weight: 200;
    letter-spacing: 0;
    text-transform: none;
    font-size: 1.5rem;
}
@media screen and (min-width: 481px)  {
    h3, .h3 {
    font-size: 2rem;
}
}
@media screen and (min-width: 769px)  {
    h3, .h3 {
    font-size: 2.5rem;
}
}
@media screen and (min-width: 1281px)  {
    h3, .h3 {
    font-size: 3rem;
}
}
p, .p, button, .button, .post-list-title {
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 1rem;
    text-transform: uppercase;
}
* {
    box-sizing: border-box;
}
body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}
html {
    font-size: 14px;
}
@media screen and (min-width: 1281px)  {
    html {
    font-size: 16px;
}
}
@media screen and (min-width: 1441px)  {
    html {
    font-size: 18px;
}
}
@media screen and (min-width: 1921px)  {
    html {
    font-size: 24px;
}
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
.page-content {
    flex: 1;
}
img {
    max-width: 100%;
    vertical-align: middle;
}
a {
    color: #222222;
    text-decoration: none;
    transition: color .18s;
}
.wrapper {
    padding: 0 1rem;
}
@media screen and (min-width: 481px)  {
    .wrapper {
    padding: 0 2rem;
}
}
@media screen and (min-width: 769px)  {
    .wrapper {
    padding: 0 3rem;
}
}
@media screen and (min-width: 1281px)  {
    .wrapper {
    padding: 0 4rem;
}
}
@media screen and (min-width: 1441px)  {
    .wrapper {
    padding: 0 5rem;
}
}
.ratio {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.ratio:before {
    content: "";
    display: block;
    padding-top: 100%;
}
.ratio>* {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.ratio-16_9:before {
    padding-top: 62.5%;
}
.text-center {
    text-align: center;
}
.full {
    width: 100%;
}
a.button {
    display: inline-block;
}
button, .button {
    padding: 1.5rem 2rem;
    font-family: "Manifold CF", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
    outline: 0;
    border: 0;
    cursor: pointer;
    border-radius: 3px;
}
header {
    padding: 2rem 0;
}
@media screen and (min-width: 481px)  {
    header {
    padding: 3rem 0;
}
}
@media screen and (min-width: 1281px)  {
    header {
    padding: 4rem 0;
}
}
@media screen and (min-width: 1441px)  {
    header {
    padding: 5rem 0;
}
}
.site-footer {
    text-align: center;
    padding: 2rem 0;
    color: #B3B3B3;
}
@media screen and (min-width: 769px)  {
    .site-footer {
    padding: 3rem 0;
}
}
@media screen and (min-width: 1281px)  {
    .site-footer {
    padding: 4rem 0;
}
}
@media screen and (min-width: 1441px)  {
    .site-footer {
    padding: 5rem 0;
}
}
@media screen and (min-width: 481px)  {
    .home-hero-wrapper, .post-list, .post-item, .hero-info, .headline {
    padding: 0 1rem;
}
}
@media screen and (min-width: 769px)  {
    .home-hero-wrapper, .post-list, .post-item, .hero-info, .headline {
    padding: 0 1.5rem;
}
}
@media screen and (min-width: 1281px)  {
    .home-hero-wrapper, .post-list, .post-item, .hero-info, .headline {
    padding: 0 2rem;
}
}
@media screen and (min-width: 1441px)  {
    .home-hero-wrapper, .post-list, .post-item, .hero-info, .headline {
    padding: 0 2.5rem;
}
}
@media screen and (min-width: 769px)  {
    .home-hero {
    display: flex;
    width: 100%;
}
}
.hero-info {
    text-align: center;
    display: block;
    margin-bottom: 1rem;
}
@media screen and (min-width: 769px)  {
    .hero-info {
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 33.33%;
}
}
@media screen and (min-width: 1281px)  {
    .hero-info {
    flex: 25%;
}
}
.headline {
    display: block;
    font-size: 1.25rem;
    color: #CCCCCC;
}
@media screen and (min-width: 481px)  {
    .headline {
    font-size: 1.875rem;
}
}
@media screen and (min-width: 769px)  {
    .headline {
    flex: 66.66%;
    font-size: 2.75vw;
}
}
@media screen and (min-width: 1281px)  {
    .headline {
    flex: 75%;
    font-size: 3vw;
}
}
.headline a {
    color: #B3B3B3;
}
.headline a:hover {
    color: #222222;
}
@media screen and (min-width: 769px)  {
    .site-avatar {
    width: 5rem;
    height: 5rem;
}
}
@media screen and (min-width: 1281px)  {
    .site-avatar {
    width: 6rem;
    height: 6rem;
}
}
@media screen and (min-width: 1441px)  {
    .site-avatar {
    width: 7rem;
    height: 7rem;
}
}
@media screen and (min-width: 1921px)  {
    .site-avatar {
    width: 8vw;
    height: 8vw;
    margin-bottom: 1.5rem;
}
}
.site-name {
    margin-bottom: 1rem;
}
@media screen and (min-width: 769px)  {
    .site-name {
    line-height: 1;
}
}
.social-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 16.5rem;
    max-width: 100%;
}
@media screen and (min-width: 769px)  {
    .social-list {
    width: 11.5rem;
    max-width: 100%;
}
}
.icon {
    display: block;
    line-height: 1;
    width: 2.5rem;
    padding: .5rem;
}
@media screen and (min-width: 769px)  {
    .icon {
    width: 1.5rem;
    padding: .25rem;
}
}
.icon svg {
    display: block;
}
.icon>svg path {
    fill: #B3B3B3;
    transition: fill .18s;
}
.icon:hover>svg path {
    fill: #222222;
}
.social-item {
    display: inline-block;
}
@media screen and (min-width: 769px)  {
    .social-item-link {
    line-height: 1;
}
}
.post-list {
    display: flex;
    flex-flow: row wrap;
}
.post-item {
    width: 100%;
    margin-bottom: 1rem;
    text-align: center;
}
@media screen and (min-width: 481px)  {
    .post-item {
    width: 50%;
    flex-grow: 0;
}
}
@media screen and (min-width: 769px)  {
    .post-item {
    width: 33.33%;
    margin-bottom: 1.5rem;
}
}
@media screen and (min-width: 1281px)  {
    .post-item {
    width: 25%;
    margin-bottom: 2rem;
}
}
.post-item:hover .post-thumbnail {
    transform: translateY(-0.5rem);
}
a.post-link:visited .post-thumbnail {
    opacity: .8;
}
.post-thumbnail {
    transition: all .3s ease;
}
.post-thumbnail img {
    border-radius: 3px;
}
.post-list-title {
    padding: 1rem 0;
}
.come-in {
    transform: translateY(2rem);
    animation: come-in 0.6s ease forwards;
}
.already-visible {
    transform: translateY(0);
    animation: none;
}
@keyframes come-in {
    to {
    transform: translateY(0);
}
}
.post-header {
    text-align: center;
    width: 100%;
}
.post-title {
    line-height: 1.2;
    margin-bottom: 2rem;
    height: auto;
}
@media screen and (min-width: 481px)  {
    .post-title {
    margin-bottom: 3rem;
}
}
@media screen and (min-width: 769px)  {
    .post-title {
    margin-bottom: 4rem;
}
}
.post-header-row {
    text-align: center;
}
@media screen and (min-width: 769px)  {
    .post-header-row {
    display: flex;
}
}
.post-sitename {
    margin-bottom: 1rem;
}
@media screen and (min-width: 769px)  {
    .post-sitename {
    display: flex;
    margin-bottom: 0;
    flex: 25%;
    text-align: left;
}
.post-sitename a:before {
    content: "‹";
    background: url("./images/filippos.jpg") no-repeat;
    background-position: 0 0rem;
    background-size: contain;
    line-height: 5.125rem;
    width: 2rem;
    height: 2rem;
    display: block;
    border-radius: 50%;
    margin: -.5rem 1rem 0 0;
    float: left;
    transition: line-height .2s ease, color .2s ease-in-out, background-position .2s ease;
    position: relative;
    overflow: visible;
    z-index: 1000;
    color: transparent;
    text-align: center;
}
.post-sitename a:hover:before {
    line-height: 2.125rem;
    color: #222222;
    background-position: 0 -3rem;
}
}
.post-scope {
    margin-bottom: 1rem;
}
@media screen and (min-width: 769px)  {
    .post-scope {
    margin-bottom: 0;
    flex: 50%;
    text-align: center;
}
}
@media screen and (min-width: 769px)  {
    .post-date {
    flex: 25%;
    text-align: right;
}
}
article {
    text-align: center;
    overflow: hidden;
}
article>* {
    display: block;
    margin: 0 auto 2rem;
}
@media screen and (min-width: 481px)  {
    article>* {
    margin: 0 auto 3rem;
}
}
@media screen and (min-width: 1281px)  {
    article>* {
    margin: 0 auto 8rem;
}
}
@media screen and (min-width: 1921px)  {
    article>* {
    margin: 0 auto 10rem;
}
}
article .no-space {
    margin: 0 auto 0;
}
article p {
    clear: both;
    max-width: 60rem;
    display: block;
    text-transform: none;
    font-size: 1rem;
    text-align: center;
    font-weight: 300;
    text-align: left;
}
@media screen and (min-width: 481px)  {
    article p {
    font-size: 1.75rem;
}
}
article p a {
    text-decoration: underline;
}
article p, article .double-tight {
    padding: 0 1rem;
}
@media screen and (min-width: 481px)  {
    article p, article .double-tight {
    padding: 0 3rem;
}
}
@media screen and (min-width: 1281px)  {
    article p, article .double-tight {
    padding: 0 4rem;
}
}
article img {
    width: 100%;
    clear: both;
}
article .embed {
    max-width: 100%;
    vertical-align: middle;
    clear: both;
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}
article .embed iframe, article .embed object, article .embed embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
article video {
    clear: both;
    min-width: 100%;
    min-height: 100%;
}
article video.double {
    min-width: 50%;
    min-height: 50%;
}
article video.tightest {
    min-width: 20rem;
    text-align: center;
}
article h3 {
    clear: both;
    padding: 0 1rem;
}
@media screen and (min-width: 481px)  {
    article h3 {
    padding: 0 3rem;
}
}
@media screen and (min-width: 769px)  {
    article h3 {
    max-width: 80rem;
    padding: 0 4rem;
}
}
article .double {
    width: 100%;
    clear: none;
}
@media screen and (min-width: 769px)  {
    article .double {
    float: left;
    width: 50%;
}
}
article p.double, article h3.double {
    padding: 1rem;
}
@media screen and (min-width: 481px)  {
    article p.double, article h3.double {
    padding: 3rem;
}
}
@media screen and (min-width: 769px)  {
    article p.double, article h3.double {
    padding: 4rem;
}
}
article .tight {
    max-width: 60rem;
}
article .tighter {
    max-width: 40rem;
}
article .tightest {
    max-width: 20rem;
}
@media screen and (min-width: 1281px)  {
    article .shadow, article .bg {
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.15);
}
}
article .bg {
    background: #f2f2f2;
    padding: 8rem;
}
@media screen and (min-width: 481px)  {
    .home-hero-wrapper, .post-list, .post-item, .hero-info, .headline {
    padding: 0 1rem;
}
}
@media screen and (min-width: 769px)  {
    .home-hero-wrapper, .post-list, .post-item, .hero-info, .headline {
    padding: 0 1.5rem;
}
}
@media screen and (min-width: 1281px)  {
    .home-hero-wrapper, .post-list, .post-item, .hero-info, .headline {
    padding: 0 2rem;
}
}
@media screen and (min-width: 1441px)  {
    .home-hero-wrapper, .post-list, .post-item, .hero-info, .headline {
    padding: 0 2.5rem;
}
}
@media screen and (min-width: 769px)  {
    .home-hero {
    display: flex;
    width: 100%;
}
}
.hero-info {
    text-align: center;
    display: block;
    margin-bottom: 1rem;
}
@media screen and (min-width: 769px)  {
    .hero-info {
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 33.33%;
}
}
@media screen and (min-width: 1281px)  {
    .hero-info {
    flex: 25%;
}
}
.headline {
    display: block;
    font-size: 1.25rem;
    margin-top: 14px;
    color: #CCCCCC;
}
@media screen and (min-width: 481px)  {
    .headline {
    font-size: 1.875rem;
}
}
@media screen and (min-width: 769px)  {
    .headline {
    flex: 66.66%;
    font-size: 2.0vw;
}
}
@media screen and (min-width: 1281px)  {
    .headline {
    flex: 75%;
    font-size: 2vw;
}
}
.headline a {
    color: #B3B3B3;
}
.headline a:hover {
    color: #222222;
}

@media screen and (min-width: 769px)  {
    .site-avatar {
    width: 5rem;
    height: 5rem;
}
}
@media screen and (min-width: 1281px)  {
    .site-avatar {
    width: 6rem;
    height: 6rem;
}
}
@media screen and (min-width: 1441px)  {
    .site-avatar {
    width: 7rem;
    height: 7rem;
}
}
@media screen and (min-width: 1921px)  {
    .site-avatar {
    width: 8vw;
    height: 8vw;
    margin-bottom: 1.5rem;
}
}
.site-name {
    margin-bottom: 1rem;
}
@media screen and (min-width: 769px)  {
    .site-name {
    line-height: 1;
}
}
.social-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 16.5rem;
    max-width: 100%;
}
@media screen and (min-width: 769px)  {
    .social-list {
    width: 11.5rem;
    max-width: 100%;
}
}
.icon {
    display: block;
    line-height: 1;
    width: 2.5rem;
    padding: .5rem;
}
@media screen and (min-width: 769px)  {
    .icon {
    width: 1.5rem;
    padding: .25rem;
}
}
.icon svg {
    display: block;
}
.icon>svg path {
    fill: #B3B3B3;
    transition: fill .18s;
}
.icon:hover>svg path {
    fill: #222222;
}
.social-item {
    display: inline-block;
}
@media screen and (min-width: 769px)  {
    .social-item-link {
    line-height: 1;
}
}
.post-list {
    display: flex;
    flex-flow: row wrap;
}
.post-item {
    width: 100%;
    margin-bottom: 1rem;
    text-align: center;
}
@media screen and (min-width: 481px)  {
    .post-item {
    width: 50%;
    flex-grow: 0;
}
}
@media screen and (min-width: 769px)  {
    .post-item {
    width: 33.33%;
    margin-bottom: 1.5rem;
}
}
@media screen and (min-width: 1281px)  {
    .post-item {
    width: 25%;
    margin-bottom: 2rem;
}
}
.post-item:hover .post-thumbnail {
    transform: translateY(-0.5rem);
}
a.post-link:visited .post-thumbnail {
    opacity: .8;
}
.post-thumbnail {
    transition: all .3s ease;
}
.post-thumbnail img {
    border-radius: 3px;
}
.post-list-title {
    padding: 1rem 0;
}
.come-in {
    transform: translateY(2rem);
    animation: come-in 0.6s ease forwards;
}
.already-visible {
    transform: translateY(0);
    animation: none;
}
@keyframes come-in {
    to {
    transform: translateY(0);
}
}
.related-nav {
    display: flex;
    clear: both;
}
.related-item {
    color: #CCCCCC;
    flex: 50%;
    flex-grow: 1;
    text-align: center;
    padding: 2rem 1rem;
    transition: all .2s;
}
@media screen and (min-width: 481px)  {
    .related-item {
    padding: 3rem 1rem;
}
}
@media screen and (min-width: 1281px)  {
    .related-item {
    padding: 4rem 1rem;
}
}
.related-item h2:after, .related-item h2:before {
    font-family: "Manifold CF", "Helvetica Neue", Helvetica, Arial, sans-serif;
    transform: translateY(-0.25rem);
    font-weight: 600;
    font-size: 2rem;
    margin: 0 1rem;
    transition: transform .6s ease;
    display: inline-block;
}
.related-item:hover {
    color: #B3B3B3;
}
.related-prev h2:before {
    content: "‹";
}
.related-prev:hover h2:before {
    transform: translate(-0.5rem, -0.25rem);
}
.related-next h2:after {
    content: "›";
}
.related-next:hover h2:after {
    transform: translate(0.5rem, -0.25rem);
}
