
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Boolio - Filippos</title>
		<link rel="shortcut icon" type="image/png" href="../images/favicon.png"/>
		<link rel="stylesheet" href="../css/main.css">
	</head>
	<body>
		<div class="page-content">
		<header class="post-header">
			<div class="wrapper">
				<a href="https://boolio.io">
					<img src="../images/logo2.png" alt="Boolio Logo" style="margin-bottom:20px;">
				</a>
				<div class="post-header-row">
					<p class="post-sitename"><a href="../index.html">Back</a></p>
					<p class="post-scope">web, android, ios</p>
					<p class="post-date">2014-2015</p>
				</div>
			</div>
		</header>
			<article class="post-content">
			<img src="../images/snap.png" alt="Boolio Logo">
			<h3>Timeline</h3>
			<p><b>November 2014</b>: Attended HackPrinceton with 4 other Olin students. In the span of 36 hours our team developed a native web and Android application. We provided a platform for simple, instant, crowsourced feedback via asking and answering binary questions. We ranked in the top 20 teams at the event.</p>
			<p><b>Early Spring 2015</b>: Applied to <a href="http://tigerlaunch.com/">Tigerlaunch</a> and after three interview rounds we drove down to Princeton to present the product. Android application became available for alpha testing to private group after the event.</p>
			<p><b>May 2015</b>: Released <a href="https://boolio.io">Boolio</a> publicly to the Android store for beta testing. Reached 400 posts in the first month of release, 20 active users per day and 88 registered users.</p>
			<p><b>Summer 2015</b>: Solidified web client and started developing the iOS platfrom. Performed  design iterations on the mobile application by conducting user interviews to understand needs and values, gain insights and identify areas of opportunity that the team should be focusing on.</p>
			<p><b>Fall 2015</b>: iOS is ready to ship. User interviews and research continuous to take place. </p>
			<h3>Codebase</h3>
			<p>The web backend infrastructure is built using the MEAN stack. Android and iOS are both native apps, written in Java and Swift, respectively.</p>
			<a href="https://boolio.io" class="button" style="background-color: #FF7BAC; margin-top:40px;">Visit Website</a>
			</article>
		</div>
	</body>
</html>
