
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Breakout - Filippos</title>
		<link rel="shortcut icon" type="image/png" href="../images/favicon.png"/>
		<link rel="stylesheet" href="../css/main.css">
	</head>
	<body>
		<div class="page-content">
		<header class="post-header">
			<div class="wrapper">
				<img src="../images/breakLog.png" alt="Breakout Logo"  height="100" style="margin-bottom:20px;">
				<div class="post-header-row">
					<p class="post-sitename"><a href="../index.html">Back</a></p>
					<p class="post-scope">Python, Machine Learning</p>
					<p class="post-date">Fall 2014</p>
				</div>
			</div>
		</header>
			<article class="post-content">
			<h3>Linear Algebra II</h3>
			<p>For our final project in Linear Algerbra II, my teammate and I decided to do some reaserch in machine learning algorithms and play around by writing an AI program for the Breakout Game. We decide to use the Q-Learning algorithm for this task.</p>
			</article>
			<center>
				<img src="../images/breakoutGame.png">
				<img src="../images/ai_evaluation.png">
			<article class="post-content" style="margin-top:20px;">
				<p>The picture above indicate the relevant GUI of the game, as well as a graph that evaluates the AI, as we increase the training games played.</p>
			</article>
			<center>
				<a href="https://github.com/dennis-chen/Breakout-AI" class="button" target="_blank" style="background-color: #FF7BAC; margin-top:40px; margin-bottom:40px;">Code on Github</a>
			</center>
		</div>
	</body>
</html>
