
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Check'd - Filippos</title>
		<link rel="shortcut icon" type="image/png" href="../images/favicon.png"/>
		<link rel="stylesheet" href="../css/main.css">
	</head>
	<body>
		<div class="page-content">
		<header class="post-header">
			<div class="wrapper">
				<img src="../images/checkd_logo.png" alt="Checkd Logo" style="margin-bottom:20px;">
				<div class="post-header-row">
					<p class="post-sitename"><a href="../index.html">Back</a></p>
					<p class="post-scope">User Experience Design</p>
					<p class="post-date">Spring 2015</p>
				</div>
			</div>
		</header>
			<article class="post-content">
			<img src="../images/ad.png" alt="Check'd Add">
			<h3>User Oriented Collaborative Design</h3>
			<p>In the Spring of 2015 I took a class at Olin called "User Oriented Collaborative Design". UOCD has been the favorite class I have taken at Olin thus far. Engineering students learn how to code, debug circuits, build structures. And that's awesome. However, we are rarely taught the purpose we are designing for. We are never asked to develop a deep appreciation for the users we are developing a product for and whose lives we are aiming to change with the product. As engineers, we ought to engage with the user group we are building a product and make sense out of the feedback we get form that group as to what/why/how we should be building.</p>
			<p>UOCD focuses on user-oriented, collaborative approaches to design seeking holistic solutions integrating user and functional perspectives.</p>
			
			<h3>Airbnb Hosts</h3>
			<p>The user group that my team extensively studied for the semester was "Airbnb Hosts". The first phase of the class had us start off by exploring the stakeholders involved and drawing as many insights as we could. We observed, we asked, we tried, we did, we said, we thought and we felt. We acted like sponges. We soaked, squeezed, and tried to make sense.</p>
			<p>After talking to our stakeholders, we created personas that represented key characteristics, trends and insights we got from our interaction with our user group.</p>
			<img src="../images/carl.jpg" alt="Carl Persona">
			<img src="../images/diana.jpg" alt="Diana Persona">
			<img src="../images/vicky.jpg" alt="Vicky Persona">
			<h3>Conceptualize</h3>
			<p>It was also really crucial to zoom into the feeling and emotions that those personas have and develop an interaction map that illustrated such fundamental relationships.</p>
			<img src="../images/interactionmap.jpg">
			<p>The second phase of the class really pushed the team to be creative. Using the personas we had earlier developed, we brainstormed about "blue-sky" ideas that would suit their needs and values, while trying to express those ideas in gallery sketches.</p>
			<img src="../images/ideas1.jpg" >
			<img src="../images/airspace.jpg">
			<img src="../images/memoir.jpg">
			<img src="../images/homesitting.jpg">

			<h3>Identifying Problems</h3>
			<p>Throughout the semester and in the beggining of every phase, our team reflected on the current progress and individuals shared ideas, thoughts and roadblocks that people are facing and, collectibely, we tried to find ways to resolve them.</p>
			<img src="../images/problems.jpg">

			<h3>Develop</h3>
			<p>The final phase of the class focused on clearly identifying the requirements for our design and validating the decisions that were made. Finalizing those points, as well as, clarifying needs and other factors, such as metrics, for the relevant stakeholders was crucial for identifying key needs that arose in multiple stakeholders' lives. </p>
			<img src="../images/reqtable-1.png">

			<p>Finally, the following image indicates the illustrated steps that a user would go through on our design proposal.</p>
			<img src="../images/interaction-1.png">

			<a target="_blank" href="../images/interfaces.pdf" class="button" style="background-color: #FF7BAC; margin-top:40px;">Checkout the Final Product Interface</a>
			</article>
		</div>
	</body>
</html>
