
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Designs - Filippos</title>
		<link rel="shortcut icon" type="image/png" href="../images/favicon.png"/>
		<link rel="stylesheet" href="../css/main.css">
	</head>
	<body>
		<div class="page-content">
		<header class="post-header">
			<div class="wrapper">
				<img src="../images/design_logo.png" alt="Design Logo" style="margin-bottom:20px;">
				<div class="post-header-row">
					<p class="post-sitename"><a href="../index.html">Back</a></p>
					<p class="post-scope">fun design</p>
					<p class="post-date">Fall 2015</p>
				</div>
			</div>
		</header>

			<article class="post-content">
			<h3>Design Fun</h3>
			<p>Design is pretty awesome. Here are some ideas I have been playing with lately.</p>
			</article>
			<center>
				<figure>
				  <img src="../images/news.png" alt="News" width="400">
				  <figcaption style="margin-top:5px; margin-bottom:30px;"><p>News are out</p></figcaption>
				</figure>

				<figure>
				  <img src="../images/watch.png" alt="Watch" width="400">
				  <figcaption style="margin-top:5px; margin-bottom:30px;"><p>It's Time</p></figcaption>
				</figure>

				<figure>
				  <img src="../images/lacta.png" alt="Lacta" width="400">
				  <figcaption style="margin-top:5px; margin-bottom:30px;"><p>Eat It!</p></figcaption>
				</figure>

				<figure>
					<img src="../images/tongue.png" alt="Tongue">
					<figcaption style="margin-top:5px; margin-bottom:30px;"><p>Crazy</p></figcaption>
				</figure>


				<figure>
					<img src="../images/sail.png" alt="Sail" width="400">
					<figcaption style="margin-top:5px; margin-bottom:30px;"><p>Sail</p></figcaption>
				</figure>

				<figure>
					<img src="../images/pride_flag.png" alt="Flag">
				  <figcaption style="margin-top:5px; margin-bottom:30px;"><p>Flag</p></figcaption>
				</figure>

				<figure>
					<img src="../images/toggle.png" alt="Toggle" width="400">
				  <figcaption style="margin-top:5px; margin-bottom:30px;"><p>Toggle</p></figcaption>
				</figure>

				<figure>
					<img src="../images/letter.png" alt="Letter">
				  <figcaption style="margin-top:5px; margin-bottom:30px;"><p>Mysterious Letter</p></figcaption>
				</figure>

				<figure>
					<img src="../images/earthHome.png" alt="Home" width="400">
				  <figcaption style="margin-top:5px; margin-bottom:30px;"><p>Home</p></figcaption>
				</figure>

				<figure>
					<img src="../images/timesand.png" alt="Sand" width="400">
				  <figcaption style="margin-top:5px; margin-bottom:30px;"><p>Sand</p></figcaption>
				</figure>


				<figure>
					<img src="../images/sushi1.png" alt="Sushi" width="400">
				  <figcaption style="margin-top:5px; margin-bottom:30px;"><p>Sushi</p></figcaption>
				</figure>

				<figure>
					<img src="../images/sushi2.png" alt="Sushi" width="400">
				  <figcaption style="margin-top:5px; margin-bottom:30px;"><p>One more roll</p></figcaption>
				</figure>

				<figure>
					<img src="../images/mouse.png" alt="Fox" width="400">
				  <figcaption style="margin-top:5px; margin-bottom:30px;"><p>Mouse</p></figcaption>
				</figure>

				<figure>
					<img src="../images/fox.png" alt="Sushi" width="400">
				  <figcaption style="margin-top:5px; margin-bottom:30px;"><p>Fox</p></figcaption>
				</figure>

				<figure>
				  <img src="../images/atomPic.png" alt="Atom" >
				  <figcaption style="margin-top:5px; margin-bottom:30px;"><p>Atom</p></figcaption>
				</figure>

				
				<figure>
					<img src="../images/arrow.png" alt="Sand" width="400">
				  <figcaption style="margin-top:5px; margin-bottom:30px;"><p>Sand</p></figcaption>
				</figure>


				<figure>
				  <img src="../images/br.png" alt="Breakout" >
				  <figcaption style="margin-top:5px; margin-bottom:30px;"><p>Smash it</p></figcaption>
				</figure>

				<figure>
				  <img src="../images/landscape.png" alt="Landscape" width="400" >
				  <figcaption style="margin-top:5px; margin-bottom:30px;"><p>Someplace it's sunny</p></figcaption>
				</figure>

				<figure>
				  <img src="../images/batteries.png" alt="Batteries" >
				  <figcaption style="margin-top:5px; margin-bottom:30px;"><p>Charge it up</p></figcaption>
				</figure>

				<figure>
				  <img src="../images/mustaches.png" alt="Stache" >
				  <figcaption style="margin-top:5px; margin-bottom:30px;"><p>Staches</p></figcaption>
				</figure>

				<figure>
				  <img src="../images/tsunami.png" alt="Tsunami" >
				  <figcaption style="margin-top:5px; margin-bottom:30px;"><p>Tsunami, Inc Logo</p></figcaption>
				</figure>

				<figure>
				  <img src="../images/terminal.png" alt="Terminal" width="600">
				  <figcaption style="margin-top:5px; margin-bottom:30px;"><p>Monaco Terminal</p></figcaption>
				</figure>
<!-- 
				<figure>
					<iframe width="500" height="315" src="https://www.youtube.com/embed/0FDzHXiHwTk" frameborder="0" allowfullscreen></iframe>				  
					<figcaption style="margin-top:5px; margin-bottom:30px;"><p>Short Art Video</p></figcaption>
				</figure> -->
			</center>
		</div>
	</body>
</html>
