
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Lines - Filippos</title>
		<link rel="shortcut icon" type="image/png" href="../images/favicon.png"/>
		<link rel="stylesheet" href="../css/main.css">
	</head>
	<body>
		<div class="page-content">
		<header class="post-header">
			<div class="wrapper">
				<img src="../images/paper.png" alt="Lines Logo" height="70" style="margin-bottom:10px;">
				<div class="post-header-row">
					<p class="post-sitename"><a href="../index.html">Back</a></p>
					<p class="post-date">Fall 2015</p>
				</div>
			</div>
		</header>
			<article class="post-content">
				<img src="../images/linesBng.jpeg">
				<h3>Exploring Designs</h3>
				<p>I was very interested in exploring the design space of mobile apps and started designing wireframes and UI mockups using Keynote. Through this journey, Lines was created. Lines is an app that allows you to follow news that interest you, keeping them all in one place. <u>Disclaimer</u>: Text used to fill content is randomly generated.</p>  
			</article>
			<center>
				<img src="../images/linesFlat/linesFlat.001.jpeg">
				<img src="../images/linesFlat/linesFlat.002.jpeg">
				<img src="../images/linesFlat/linesFlat.003.jpeg">
				<img src="../images/linesFlat/linesFlat.004.jpeg">
				<img src="../images/linesFlat/linesFlat.005.jpeg">

			</center>
		</div>
	</body>
</html>
