
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>OlinJS - Filippos</title>
		<link rel="shortcut icon" type="image/png" href="../images/favicon.png"/>
		<link rel="stylesheet" href="../css/main.css">
	</head>
	<body>
		<div class="page-content">
		<header class="post-header">
			<div class="wrapper">
				<a href="http://olinjs.github.io/">
					<img src="../images/olinjslogo.png" alt="OlinJS Logo"  height="70" style="margin-bottom:20px;">
				</a>
				<div class="post-header-row">
					<p class="post-sitename"><a href="../index.html">Back</a></p>
					<p class="post-scope">Node.js, AngularJS, MongoDB, Express, Handlebars</p>
					<p class="post-date">Spring 2015</p>
				</div>
			</div>
		</header>
			<article class="post-content">
			<h3>Web Development</h3>
			<p>OlinJS is a student-taught course at Olin on web development using Node.js. The class had several labs were we were asked to create simple web apps that utilized new features of the stack available to us. We started off using Node.js with jQuery and Handlebars and as the semester progressed we utilized JS frontend frameworks, such as AngularJS, and publicly accessible APIs on the web to make cool applications. We used MongoDB as our database for all the above.</p>
			<p> My final project for OlinJS was <a href="https://boolio.io" target="_blank">Boolio</a> a startup that a team of Olin students and I are currently pursuing.</p>
			<p>In the Spring of 2016, I will be teaching this class to the next generation of OlinJS students!</p>

			<p>Some of the projects that I worked on in this class are listed below.</p>

			<!-- Boolio -->
			<p>1. <a href="https://api.boolio.io" target="_blank">Boolio - Web Client</a></p>

			</article>
			<center>
				<img src="../images/boolioWeb.png" width="500" style="margin-bottom:30px;">
			</center>

			<!-- YouGiphy -->
			<article class="post-content">
				<p>2. <a href="http://yougiphy.herokuapp.com/" target="_blank">YouGiphy</a></p>
			</article>
			<center>
				<img src="../images/yougiphy.png" style="margin-bottom:10px;">
			</center>

			<!-- Jessica -->
			<article class="post-content">
			<p>3. <a href="http://filippos-burgers.herokuapp.com/" target="_blank">Jessica's Burgers</a></p>
			</article>
			<center>
				<img src="../images/jessica.png" width="500" style="margin-bottom:10px;">
			</center>


			<!-- Wikipedia -->
			<article class="post-content">
			<p>4. <a href="http://language-wikipedia.herokuapp.com/" target="_blank">Language Wikipedia</a></p>
			</article>
			<center>
				<img src="../images/wiki.png" width="500" style="margin-bottom:10px;">
			</center>	

			<!-- Cat -->
			<article class="post-content">
			<p>5. <a href="http://filippos-cats.herokuapp.com/" target="_blank">Cat App</a></p>
			</article>
			<center>
				<img src="../images/cat.gif" width="500" style="margin-bottom:10px;">
			</center>		
		</div>
	</body>
</html>
