
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Tsunami - Filippos</title>
		<link rel="shortcut icon" type="image/png" href="../images/favicon.png"/>
		<link rel="stylesheet" href="../css/main.css">
	</head>
	<body>
		<div class="page-content">
		<header class="post-header">
			<div class="wrapper">
				<a href="http://hfid.olin.edu/sa2016/tsunami/">
					<img src="../images/ts.png" alt="Tsunami Logo"  height="70" style="margin-bottom:20px;">
				</a>
				<div class="post-header-row">
					<p class="post-sitename"><a href="../index.html">Back</a></p>
					<p class="post-scope">User Experience and Use Interface Design</p>
					<p class="post-date">Fall 2015</p>
				</div>
			</div>
		</header>
			<article class="post-content">
				<h3>Human Factors Interface Design</h3>
				<p>Human Factors Interface Design (HFID) is a class that focuses on interface design in modern technology. My team is currently working on a product that will change the experience we have with alarm clocks. Although we are only one month into the class, here are some exaples of early storyboarding and UI prototyping. Visit our <a href="http://hfid.olin.edu/sa2016/tsunami/">website</a> to learn more about our progress.</p>
			</article>
			<center>
				<img src="../images/storyboard.png"><br><br>
				<img src="../images/pics.png"><br>
				<a href="http://hfid.olin.edu/sa2016/tsunami/" class="button" style="background-color: #FF7BAC; margin-top:40px; margin-bottom:40px;">Visit Website</a>
			</center>
		</div>
	</body>
</html>
