<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Weather Balloon - Filippos</title>
		<link rel="shortcut icon" type="image/png" href="../images/favicon.png"/>
		<link rel="stylesheet" href="../css/main.css">
	</head>
	<body>
		<div class="page-content">
		<header class="post-header">
			<div class="wrapper">
				<img src="../images/balloonLogo.png" height="70" style="margin-bottom:10px;">
				<div class="post-header-row">
					<p class="post-sitename"><a href="../index.html">Back</a></p>
					<p class="post-date">Fall 2015</p>
				</div>
			</div>
		</header>
			<article class="post-content">
				<img src="../images/weatherMain.JPG">
				<h3>Weather Balloon</h3>
				<p>Four Olin students and I decided to do a Passionate Pursuit (PP) this semester and launch a weather balloon. A PP is a side project that students can work on during a semester at Olin and get funded doing so, by the school. Our goal was to collect pictures of our wonderful home, Earth, from the stratosphere and the height of 100,000 feet. It was an awesome experience; we managed to send something to space and retrieve it!</p> 
				<img src="../images/earthClose.JPG">
				<p>We started off by specing out materials, while focusing on the construction of the payload. As shown below, the payload was designed to provide space for a camera (GoPro), an RCLogger, a phone that would collect data on altitude, speed and finally, a gimble-like mechanism that oriented our GPS Tracker to always face upward and record data every 10 minutes.</p> 
				<img src="../images/payload.JPG">
				<p>Once we ordered and received the appropriate parachute and balloon and equiped ourselves with a net and a helium tank, we were ready to set out for an adventure! We drove 3 hours West and launched from Nassau, NY. The trajectory we estimated determined that the balloon was going to land close to Worcester. We performed some tests prior to our arrival at Nassau, making sure that all the instruments functioned properly.</p>
				<img src="../images/tracking.JPG">
				<p>Given the weight of the paylod and the positive lift, we were able to determine the velocity of the balloon during the ascent and descent phase.</p>
				<img src="../images/balloonTwo.png">
				<p>As we saw the balloon go, we used the GPS Tracker, as well as the Android device in the payload to keep track of the balloon's location. After tree hours we were able to track it down. The pictures captured were amazing! </p>
				<img src="../images/amz1.JPG">
				<img src="../images/amz2.JPG">
				<img src="../images/imz3.JPG">
			</article>
		</div>
	</body>
</html>
